<!doctype html>
<html lang="en">

<head>
  <title>{{folder}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="icon" href="{{assetsDir}}/favicon.ico" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{assetsDir}}/style.css">
</head>

<body>
  <header>
    <nav>
      <span class="path">&nbsp; {{#each path}}
        <a href="/{{url}}">{{name}}</a> {{/each}}
      </span>

      <ul class="directories">
        {{#each directories}}
        <li><a href="/{{relative}}">{{name}}</a></li>
        {{/each}}
      </ul>

      <!-- <ul class="images"> -->
      <!--   {{#each images}} -->
      <!--   <li><a href="#" class="images__zoom"><img src="/{{relative}}" alt="{{name}}" title="{{name}}" class="images__img"></a></li> -->
      <!--   {{/each}} -->
      <!-- </ul> -->

      <!-- <div class="image&#45;&#45;zoomed js&#45;unzoom"> -->
      <!--   <a href="#" class="js&#45;unzoom"> -->
      <!--       <img id="zoomedImage" src="" alt="" title="" class="js&#45;unzoom"> -->
      <!--     </a> -->
      <!-- </div> -->
    </nav>
  </header>
  <main>
    {{{content}}}
  </main>
  <footer>
    <p>Drop me a line at paul(dot)dariye[at]gmail(dot)com, say hi on <a href="https://twitter.com/@pauldariye"
                    target="_blank">twitter</a>, or let's collaborate on <a
                    href="https://github.com/pauldariye"
                    target="_blank">github</a>.</p>
    </p>
    <p>&copy; {{year}}</p>
  </footer>
  <script type="text/javascript" src="{{assetsDir}}/app.js"></script>
</body>
</html
