<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{#if page.title}}{{page.title}}{{else}}{{folder}}{{/if}}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="canonical" content="{{page.canonical}}" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
  <!--Social Media-->
  <meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@pauldariye">
	<meta name="og:title" content="{{page.title}}">
	<meta name="author" content="Paul Dariye">
	<meta name="og:url" content="{{page.canonical}}">
	<!-- <meta name="description" content="If your company is or is planning on doing business in emerging markets, architecting your web applications for performance through progressive enhancements is one easy way to drastically improve accessibility, retention, and user experience."> -->
	<!-- <meta name="og:description" content="If your company is or is planning on doing business in emerging markets, architecting your web applications for performance through progressive enhancements is one easy way to drastically improve accessibility, retention, and user experience."> -->
  <meta name="theme-color" content="#000000">
  <link rel="stylesheet"
        href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Quicksand" rel="stylesheet">
  <link rel="stylesheet" href="{{assetsDir}}/style.css" />
  <link rel="stylesheet" href="{{assetsDir}}/code.css"/>
</head>
<body>
  <progress value="0"></progress>
  <header>
    <nav>
      <span class="path">&nbsp; {{#each path}}
        <a href="/{{url}}">{{name}}</a> {{/each}}
      </span>
      <ul class="directories">
        {{#each directories}}
        <li><a href="/{{relative}}">{{name}}</a></li>
        {{/each}}
      </ul>
      <ul class="downloads">
        {{#each downloads}}
        <li><a href="/{{relative}}" alt="{{name}}" title="{{name}}"
                                                   class="download {{extension}}"
                                                   download={{name}}>{{name}}</a></li>
        {{/each}}
      </ul>
      <div class="image--zoomed js-unzoom">
        <a href="#" class="js-unzoom">
            <img id="zoomedImage" src="" alt="zoomed image" title="" class="js-unzoom">
          </a>
      </div>
    </nav>
  </header>
  <main>
    <div><span class="views">{{#if page.views}}{{page.views}} views{{/if}}</span></div>
    {{{page.content}}}
  </main>
  <footer>
    <p><a href="/" class="pd">pauldariye.com</a> (<a
                   href="https://github.com/pauldariye/pd"
                   target="_blank">src</a>)</p>
    <p>&copy; {{year}}</p>
  </footer>
  <script type="text/javascript" src="{{assetsDir}}/app.js"></script>
</body>
</html>
